<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.sesac.finewiki.vo.MemberVo" alias="MemberVo" />
        <typeAlias type="com.sesac.finewiki.vo.BoardVo" alias="BoardVo" />
        <typeAlias type="com.sesac.finewiki.vo.ReplyVo" alias="ReplyVo" />
        <typeAlias type="com.sesac.finewiki.vo.EstateVo" alias="EstateVo" />
        <typeAlias type="com.sesac.finewiki.vo.StockVo" alias="StockVo" />
        <typeAlias type="com.sesac.finewiki.vo.FreeVo" alias="FreeVo" />
        <typeAlias type="com.sesac.finewiki.vo.StockReplyVo" alias="StockReplyVo" />
        <typeAlias type="com.sesac.finewiki.vo.EstateReplyVo" alias="EstateReplyVo" />
        <typeAlias type="com.sesac.finewiki.vo.FreeReplyVo" alias="FreeReplyVo" />
    </typeAliases>

</configuration>