<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesac.finewiki.mappers.board.free.freeMapper">
	<insert id="create" useGeneratedKeys="true" keyProperty="data_no">
		INSERT INTO free_board_data (
		data_no
		, title
		, content
		, mem_nick
		, regdate
		, hit
		, fileCnt
		) VALUES (
		#{data_no}
		, #{title}
		, #{content}
		, #{mem_nick}
		, #{regdate}
		, #{hit}
		, #{fileCnt}
		)
	</insert>

	<select id="read" resultMap="FreeResultMap">
		SELECT
		data_no
		, title
		, content
		,
		mem_nick
		, regdate
		, hit
		FROM
		free_board_data
		WHERE data_no = #{data_no}
	</select>

	<update id="update">
		UPDATE free_board_data
		SET
		title = #{title}
		, content =
		#{content}
		WHERE
		data_no = #{data_no}
	</update>

	<delete id="delete">
		DELETE FROM free_board_data
		WHERE data_no = #{data_no}
	</delete>

	<select id="listAll" resultType="FreeVo">
        <![CDATA[
        SELECT
            data_no,
            title,
            content,
            mem_nick,
            regdate,
            hit
        FROM free_board_data
        WHERE data_no > 0
        ORDER BY data_no DESC, regdate DESC
        ]]>
	</select>

	<select id="listPaging" resultMap="FreeResultMap"> 
    <![CDATA[ 
    SELECT 
    	data_no, 
    	title, 
    	content, 
    	mem_nick, 
    	regdate, 
    	hit 
    	FROM free_board_data 
    	WHERE data_no > 0 
    	ORDER BY data_no DESC, 
    	regdate DESC LIMIT #{page}, 10 
    	]]>
	</select>

	<select id="listCriteria" resultMap="FreeResultMap"> 
	    <![CDATA[ 
	    SELECT 
		    data_no, 
		    title, 
		    content, 
		    mem_nick, 
		    regdate, 
		    hit 
	    FROM free_board_data 
	    WHERE data_no > 0 
	    ORDER BY data_no DESC, regdate DESC 
	    LIMIT #{pageStart}, #{perPageNum} 
	    ]]>
	</select>
	
	<select id="countFrees" resultType="int">
	 <![CDATA[ 
	 SELECT COUNT(data_no) 
	 FROM free_board_data 
	 WHERE data_no > 0 
	 ]]>
	</select>
	
	<!-- 수정 -->
	<select id="listSearch" resultMap="FreeResultMap"> 
	<![CDATA[ 
	SELECT data_no, 
			title, 
			content, 
			mem_nick, 
			regdate, 
			hit, 
			reply_cnt 
			FROM free_board_data 
			WHERE data_no > 0 
			]]>
		<include refid="search" /> 
		<![CDATA[ 
		ORDER BY data_no DESC, 
		regdate DESC 
		LIMIT #{pageStart}, #{perPageNum} 
		]]>
	</select> <!-- 추가 -->
	
	<update id="updateReplyCnt"> 
	UPDATE free_board_data 
	SET reply_cnt = reply_cnt +
		#{amount} 
		WHERE data_no = #{data_no}
	</update> <!-- 수정 -->

	<select id="countSearchedFrees" resultType="int"> 
	<![CDATA[ 
		SELECT COUNT(data_no) 
		FROM free_board_data 
		WHERE data_no > 0 
		]]>
		<include refid="search" />
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()"> AND title LIKE CONCAT('%', #{keyword}, '%') </if>
			<if test="searchType == 'c'.toString()"> AND content LIKE CONCAT('%', #{keyword}, '%') </if>
			<if test="searchType == 'w'.toString()"> AND mem_nick LIKE CONCAT('%', #{keyword}, '%') </if>
			<if test="searchType == 'tc'.toString()"> AND ( title LIKE CONCAT('%', #{keyword}, '%') OR content
				LIKE CONCAT('%', #{keyword}, '%') ) </if>
			<if test="searchType == 'cw'.toString()"> AND ( content LIKE CONCAT('%', #{keyword}, '%') OR
				mem_nick LIKE CONCAT('%', #{keyword}, '%') ) </if>
			<if test="searchType == 'tcw'.toString()"> AND ( title LIKE CONCAT('%', #{keyword}, '%') OR content
				LIKE CONCAT('%', #{keyword}, '%') OR mem_nick LIKE CONCAT('%',
				#{keyword}, '%') ) </if>
		</if>
	</sql>
	
	<update id="updateHit"> 
		UPDATE free_board_data 
		SET hit = hit + 1 
		WHERE
		data_no = #{data_no} 
	</update>
	
<!--회원 프로필 이미지 변경--> 
	<update id="updateMemberImg" > 
	UPDATE free_board_data
	SET 
	memberImg = (SELECT mem_img FROM my_member WHERE mem_id = #{mem_nick}) 
	WHERE data_no = #{data_no} 
	</update> 
	
	<select id="memberFreeList" resultType="FreeVo"> 
	SELECT 
	* 
	FROM free_board_data 
	WHERE mem_nick = #{mem_id} 
	ORDER BY data_no DESC, regdate DESC 
	</select>
	
	<resultMap id="FreeResultMap" type="FreeVo"> 
		<id property="data_no" column="data_no"/> 
		<result property="title" column="title" /> 
		<result property="content" column="content" /> 
		<result property="mem_nick" column="mem_nick" /> 
		<result property="regdate" column="regdate" /> 
		<result property="hit" column="hit" /> 
		<result property="reply_cnt" column="reply_cnt" /> 
		<result property="fileCnt" column="file_cnt" /> 
		<result property="memberImg" column="memberImg" /> 
		<association property="membervo" resultMap="MemberVoResultMap"/> <!-- 추가 --> 
	</resultMap>
	<resultMap id="MemberVoResultMap" type="MemberVo"> 
		<id property="mem_id" column="mem_id"/> 
		<result property="mem_pw" column="mem_pw"/> 
		<result property="mem_birth" column="mem_birth"/> 
		<result property="mem_name" column="mem_name"/>
		<result property="nick" column="nick"/>  
		<result property="mem_email" column="mem_email"/> 
		<result property="mem_join_date" column="mem_join_date"/> 
		<result property="mem_login_date" column="mem_login_date"/> 
		<result property="mem_signature" column="mem_signature"/> 
		<result property="mem_img" column="mem_img"/> 
		<result property="mem_point" column="mem_point"/> 
	</resultMap>
</mapper>
