<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sesac.finewiki.mappers.member.boardMapper">
	<insert id="create">
		INSERT INTO board_data (
		data_no
		, title
		, content
		,
		mem_nick
		, regdate
		, hit
		) VALUES (
		#{data_no}
		, #{title}
		, #{content}
		,
		#{mem_nick}
		, #{regDate}
		, #{hit}
		)
	</insert>

	<select id="read" resultMap="BoardResultMap">
		SELECT
		data_no
		, title
		, content
		,
		mem_nick
		, regdate
		, hit
		FROM
		board_data
		WHERE data_no = #{data_no}
	</select>

	<update id="update">
		UPDATE board_data
		SET
		title = #{title}
		, content =
		#{content}
		WHERE
		data_no = #{data_no}
	</update>

	<delete id="delete">
		DELETE FROM board_data
		WHERE data_no = #{data_no}
	</delete>

	<select id="listAll" resultType="BoardVo">
        <![CDATA[
        SELECT
            data_no,
            title,
            content,
            mem_nick,
            regdate,
            hit
        FROM board_data
        WHERE data_no > 0
        ORDER BY data_no DESC, regdate DESC
        ]]>
	</select>

	<resultMap id="BoardResultMap" type="BoardVO">
		<id property="data_no" column="data_no" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="mem_nick" column="mem_nick" />
		<result property="regdate" column="regdate" />
		<result property="hit" column="hit" />
	</resultMap>

	<select id="listPaging" resultMap="BoardResultMap"> 
    <![CDATA[ 
    SELECT 
    	data_no, 
    	title, 
    	content, 
    	mem_nick, 
    	regdate, 
    	hit 
    	FROM board_data 
    	WHERE data_no > 0 
    	ORDER BY data_no DESC, 
    	regdate DESC LIMIT #{page}, 10 
    	]]>
	</select>

	<select id="listCriteria" resultMap="BoardResultMap"> 
	    <![CDATA[ 
	    SELECT 
		    data_no, 
		    title, 
		    content, 
		    mem_nick, 
		    regdate, 
		    hit 
	    FROM board_data 
	    WHERE data_no > 0 
	    ORDER BY data_no DESC, regdate DESC 
	    LIMIT #{pageStart}, #{perPageNum} 
	    ]]>
	</select>
	<select id="countBoards" resultType="int">
	 <![CDATA[ SELECT COUNT(data_no) FROM board_data WHERE data_no > 0 ]]>
	</select>
	<select id="listSearch" resultMap="BoardResultMap"> <![CDATA[ SELECT data_no, title, content, mem_nick, regdate, hit FROM board_data WHERE data_no > 0 ]]>
		<include refid="search" /> <![CDATA[ ORDER BY data_no DESC, regdate DESC LIMIT #{pageStart}, #{perPageNum} ]]>
	</select>
	<select id="countSearchedBoards" resultType="int"> <![CDATA[ SELECT COUNT(data_no) FROM board_data WHERE data_no > 0 ]]>
		<include refid="search" />
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()"> AND title LIKE CONCAT('%', #{keyword}, '%') </if>
			<if test="searchType == 'c'.toString()"> AND content LIKE CONCAT('%', #{keyword}, '%') </if>
			<if test="searchType == 'w'.toString()"> AND mem_nick LIKE CONCAT('%', #{keyword}, '%') </if>
			<if test="searchType == 'tc'.toString()"> AND ( title LIKE CONCAT('%', #{keyword}, '%') OR content
				LIKE CONCAT('%', #{keyword}, '%') ) </if>
			<if test="searchType == 'cw'.toString()"> AND ( content LIKE CONCAT('%', #{keyword}, '%') OR
				mem_nick LIKE CONCAT('%', #{keyword}, '%') ) </if>
			<if test="searchType == 'tcw'.toString()"> AND ( title LIKE CONCAT('%', #{keyword}, '%') OR content
				LIKE CONCAT('%', #{keyword}, '%') OR mem_nick LIKE CONCAT('%',
				#{keyword}, '%') ) </if>
		</if>
	</sql>


</mapper>
